@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

html{
  font-size: 10px;
}

body {
  font: 1.6rem/1.15 'Roboto', sans-serif;
  letter-spacing: -1px;
  visibility: visible;
  background-color: #FFEDED;
}

button {
  all: unset; 
}